body {
    background-color: lightgrey;
}

header * {
    display: inline-block;
    color: #000000;
    margin-left: 20px;
    text-decoration: none;

}
header {
    background-color: #DFBF01;
    position: fixed;
    text-align: center;
    width: 100%;
    padding: 20px;
}
.main-container {
    padding-top: 25px;
    margin-top: 30px;
    height: 85vh;
}
.cityBlock, .todaysWeather {
    height: 250px;
    border: 1px solid #FFFFFF;
}
.cityButton {
    background-color: lightgray;
}